@using ShoppingCart.Business.Repositories
@model ShoppingCart.DataAccess.Model.Category
@inject IUnitOfWork _unitOfWork;
@{

}
<div class="card-body p-9">
    <h2 class="mb-0 fs-1">@Model.Name</h2>
</div>
