<div class="border-bottom shadow-sm">
    <nav class="navbar navbar-light py-2">
        <div class="container justify-content-center justify-content-lg-between">
            <a class="navbar-brand d-none d-lg-block" href="@Url.Action("Index","Home")">
                <img src="https://namvnstorage.blob.core.windows.net/namvucontainer/freshcart-logo.svg" />
            </a>
        </div>
    </nav>
</div>